{% extends 'ecomapp/base.html' %}

{% block content %}
    
    <div class="px-32 my-6">
        <H1 class="text-3xl font-bold text-center p-10 ">Product Details</H1>

        <hr class="border-t border-gray-300"/>
    </div>
    <div class="grid grid-cols-2 px-32 gap-6">
        <div class="rounded-lg shadow-lg p-4">
            <img class="rounded-lg shadow-sm border mb-4 w-140 h-80 mx-auto" src="{{product.image.url}}" alt="{{product.name}}" />
        </div>
        <div class="rounded-lg shadow-lg p-4 grid grid-cols-2">
            <div class="col-span-1 space-y-4">
                <h1 class="text-2xl font-bold text-gray-900">{{ product.name }}</h1>
                
                <p class="text-yellow-500"> ***** <span class="text-gray-900">(12,345 ratings)</span> </p>
                <p class="text-green-500 font-bold mt-2 text-3xl">${{ product.price }}</p>
                <p class="text-green-700 text-sm font-medium">Inclusive of all taxes</p>
                <p class="text-gray-600">{{ product.description }}</p>
            </div>
            <div class="col-span-1 space-y-4 border rounded-lg shadow-md p-6">
                <p class="text-2xl font-semibold text-gray-900">$ {{ product.price}}</p>

                <select name="" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <p class="text-sm text-green-700">FREE delivery by Tommorrow</p>
                {% if product.stock %}
                    <p class="text-sm text-green-700">In Stock</p>
                {% else %}
                    <p class="text-sm text-green-700">Out of Stock</p>
                {% endif %}
                <button class="w-full bg-yellow-400 text-black font-semibold py-2 rounded-lg ">Add to Cart</button>
                <button class="w-full bg-green-700 text-white font-semibold py-2 rounded-lg ">Buy Now</button>
                <p class="text-sm text-green-600">Sold by Ecom Store and Fulfilled by Ecom Store</p>
            </div>
        </div>
    </div>
{% endblock %}